@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url("/bg.png");
  background-size: 100% 100%;
  background-position: center;
}

/* css scroll root */

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1890ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1890ff;
}
